<center>
<h1>WELCOME TO APPETITE</h1>
<form action="/info/none" method="get">
<h2> What is your address?</h2>
<input type="text" name="address"> 
<h2> What would you like to find?</h2>
<input type="text" name="query"> 
<h2> In how large a radius? </h2>
<input type="text" name="radius" placeholder="miles"> 
<br>
<br>
<br>
<input type="submit" value="Search">
</form>
</center>